# Project exclude paths
/venv/py/

# ignore bytecode
__pycache__/

# ignore certs (secret)
periodic_scraper/certs

# ignore pycharm project settings
.idea

# ignore tokens
/tokens.txt

# ignore email details
email_details.py