# Project exclude paths
/venv/py/

# ignore bytecode
__pycache__/

# ignore certs, password
periodic_scraper/secrets

# ignore pycharm project settings
.idea

# ignore pickle file in periodic_scraper
periodic_scraper/*.p

# ignore tokens
/tokens.txt

# ignore email details
email_details.py

secrets/